@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #bababa;
}

.sidebar {
  width: 220px;
  background-color: hsl(0, 0%, 100%);
  color:#fff;
  height: 100vh;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: width 0.3s ease-in-out;
}

/*Sidebar collapses settings*/

  .sidebar.collapsed {
    width: 80px;
  }

  .sidebar.collapsed .sidebar-header h1 {
    position: absolute;
    right: -150px;
  }

  .sidebar.collapsed .text {
    opacity: 0;
    pointer-events: none;
  }

/*Ending collapsed*/

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 5px;
}

.sidebar-header h1 {
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  color: black;
}

.toggle-btn {
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
  color: black;
}

.toggle-btn:hover {
  background-color: rgb(157, 160, 159);
}

.sidebar ul {
  padding: 10px 0px;
}



.sidebar li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  margin: 10px;
}

.sidebar li:hover {
  background-color: rgba(83, 82, 82, 0.1);
}

.sidebar .icon {
  width: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.4s;
  color: black;
}

.sidebar .text {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  transition: 0.4s;
  color: black;
  margin-top: -5px;
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 10px;
  border-top:1px solid rgba(255,255,255,0.2);
}